<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Back to Dashboard</a>
  <h2 class="title">Create A New Blog Post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title" class="serchInfo">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Title of Blog"/>
    </div>
    <div>
      <label for="post-content" class="serchInfo">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="Content of Blog "/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Create A Post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>
