body {
padding: 0 0 40px 0;
margin: 0;
}

nav {
  background: rgb(94, 24, 24);
  padding-bottom: 2px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

nav h1 {
  width: fit-content;
  border: 2px solid white;
  padding: 10px;
  border-radius: 8px;
  background:lightblue;
}